[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_8BD0F2264E5737374D202020FF083735-if00
x_offset: 0
y_offset: 0 #-40
#contact_max_hotend_temperature: 180 # increase to probe at print temps
home_xy_position: 117.5, 117.5 # update with your safe position
home_z_hop: 5
home_z_hop_speed: 30
home_xy_move_speed: 300
home_method: contact # use proximity for induction homing
home_method_when_homed: proximity # after initial calibration use induction
home_autocalibrate: unhomed # contact will calibrate beacon on first home
autocal_max_retries: 5
autocal_tolerance: 0.012