[heater_generic Heater_Chamber]
gcode_id: CH
heater_pin: rpi:gpio13
sensor_type: Generic 3950
sensor_pin: PA1
pullup_resistor: 2200
control: pid
pid_kp = 6.952
pid_ki = 0.293
pid_kd = 41.192
min_temp: 5
max_temp: 100

[verify_heater Heater_Chamber]
max_error: 120
check_gain_time: 120
hysteresis: 50
heating_gain: 1

[heater_fan Chamber_Heater_Fan]
pin: PF9
max_power: 1.0
shutdown_speed: 1
kick_start_time: 0.5
heater: Heater_Chamber
heater_temp: 40 # fan will turn off below this level

############################
# gcodes
############################

[gcode_macro M141]  #set chamber temp
gcode:
   SET_HEATER_TEMPERATURE HEATER=Heater_Chamber TARGET={params.S}
   RESPOND TYPE=command MSG='Heating Chamber'

[gcode_macro M191]  #wait for chamber temp
gcode:
   SET_HEATER_TEMPERATURE HEATER=Heater_Chamber TARGET={params.S}
   TEMPERATURE_WAIT SENSOR="heater_generic Heater_Chamber" MINIMUM={params.S}
   RESPOND TYPE=command MSG='Heating Chamber'

[gcode_macro PID_CHAMBER]
gcode:
      G28
      PID_CALIBRATE HEATER=Heater_Chamber TARGET=60
      M141 S60
      TURN_OFF_HEATERS
      SAVE_CONFIG   

############################
# Chamber Lights
############################

[output_pin Chamber_Lights]
pin: PE6
pwm:true
hardware_pwm: False
value: 0.20 #startup value
shutdown_value: 0
value:1
cycle_time: 0.00025

[gcode_macro CHAMBER_LIGHTS_OFF]
gcode:
     SET_PIN PIN=Chamber_Lights VALUE=0

[gcode_macro CHAMBER_LIGHTS_ON]
gcode:
     SET_PIN PIN=Chamber_Lights VALUE=1