[fan_generic chamber_filter]
pin: PB3
kick_start_time: 0.5

[gcode_macro _chamber_filter_fan_on]
gcode:
      RESPOND TYPE=command MSG='Turning On Chamber Filter'
      SET_FAN_SPEED FAN=chamber_filter SPEED=1
      
[delayed_gcode _chamber_filter_fan_off]
initial_duration: 0
gcode:
      RESPOND TYPE=command MSG='Turning Off Chamber Filter'
      SET_FAN_SPEED FAN=chamber_filter SPEED=0  
      
################ Filter Monitor #####################

[filter_monitor Chamber_Filter]
fan: fan_generic chamber_filter
max_runtime_hours: 50
max_days: 90
interval: 30
stats_caption: ""
# Output override for FILTER_STATS macro. Defaults to "<filter_name> at". e.g. Air Filter at 98%
expiry_gcode: # Executed when filter meets threshold condition
path: ~/printer_data/config/configs/Filter_Monitor # Folder where filter data is stored#

[gcode_macro CHAMBER_FILTER_STATS]
gcode:
      FILTER_STATS NAME=Chamber_Filter [EXTENDED=1]

[gcode_macro CHAMBER_FILTER_RESET]
gcode:
      RESET_FILTER NAME=Chamber_Filter
      RESPOND TYPE=command MSG='Chamber Filter Stats Reset'