##########################
#    STATUS MACROS       #
##########################
#    _status_ready
#    _status_heating
#    _status_printing

[neopixel tool_leds]
pin: NHK:gpio7
chain_count: 3
color_order: GRBW
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 1.0
initial_WHITE: 0.0

[gcode_macro _led_vars]
variable_colors: {
        'logo': { # Colors for logo states
            'heating': {'r': 1.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'printing': {'r': 0.0, 'g': 0.0, 'b': 1.0, 'w': 0.0},
            'standby': {'r': 0.0, 'g': 0.0, 'b': 1.0, 'w': 0.0},
            
        },
        'nozzle': { # Colors for nozzle states
            'on': {'r': 0.0, 'g': 0.0, 'b': 0.0, 'w':1.0}
        }
    }
variable_logo_led_name:         "tool_leds" 
variable_logo_idx:              "3" 
variable_nozzle_led_name:       "tool_leds"
variable_nozzle_idx:            "1,2"
gcode:
    # This section is required.  Do Not Delete.

[gcode_macro _set_leds]
gcode:
    {% set red = params.RED|default(0)|float %}
    {% set green = params.GREEN|default(0)|float %}
    {% set blue = params.BLUE|default(0)|float %}
    {% set white = params.WHITE|default(0)|float %}
    {% set led = params.LED|string %}
    {% set idx = (params.IDX|string).split(',') %}
    {% set transmit_last = params.TRANSMIT|default(1) %}

    {% for led_index in idx %}
        {% set transmit=transmit_last if loop.last else 0 %}
        set_led led={led} red={red} green={green} blue={blue} white={white} index={led_index} transmit={transmit}
    {% endfor %}

[gcode_macro _set_leds_by_name]
gcode:
    {% set leds_name = params.LEDS %}
    {% set color_name = params.COLOR %}
    {% set color = printer["gcode_macro _led_vars"].colors[leds_name][color_name] %}
    {% set led = printer["gcode_macro _led_vars"][leds_name + "_led_name"] %}
    {% set idx = printer["gcode_macro _led_vars"][leds_name + "_idx"] %}
    {% set transmit = params.TRANSMIT|default(1) %}

    _set_leds led={led} red={color.r} green={color.g} blue={color.b} white={color.w} idx="{idx}" transmit={transmit}

[gcode_macro _set_logo_leds]
gcode:
    {% set red = params.RED|default(0)|float %}
    {% set green = params.GREEN|default(0)|float %}
    {% set blue = params.BLUE|default(0)|float %}
    {% set white = params.WHITE|default(0)|float %}
    {% set led = printer["gcode_macro _led_vars"].logo_led_name %}
    {% set idx = printer["gcode_macro _led_vars"].logo_idx %}
    {% set transmit=params.TRANSMIT|default(1) %}

    _set_leds led={led} red={red} green={green} blue={blue} white={white} idx="{idx}" transmit={transmit}

[gcode_macro _set_nozzle_leds]
gcode:
    {% set red = params.RED|default(0)|float %}
    {% set green = params.GREEN|default(0)|float %}
    {% set blue = params.BLUE|default(0)|float %}
    {% set white = params.WHITE|default(0)|float %}
    {% set led = printer["gcode_macro _led_vars"].nozzle_led_name %}
    {% set idx = printer["gcode_macro _led_vars"].nozzle_idx %}
    {% set transmit=params.TRANSMIT|default(1) %}

    _set_leds led={led} red={red} green={green} blue={blue} white={white} idx="{idx}" transmit={transmit}

[gcode_macro _set_nozzle_leds_on]
gcode:
    {% set transmit=params.TRANSMIT|default(1) %}
    _set_leds_by_name leds="nozzle" color="on" transmit={transmit}

[gcode_macro _status_heating]
gcode:
    _set_leds_by_name leds="logo" color="heating" transmit=0

[gcode_macro _status_printing]
gcode:
    _set_leds_by_name leds="logo" color="printing" transmit=0
    _set_nozzle_leds_on

[gcode_macro _status_ready]
gcode:
    _set_leds_by_name leds="logo" color="standby" transmit=0
