[delayed_gcode _INIT]
initial_duration: 1
gcode:
     set_nozzle_leds_on

[exclude_object]

[firmware_retraction]
#retract_length: 2.5
#retract_speed: 50
#unretract_extra_leng

#[force_move]
#enable_force_move: True

[gcode_arcs]
resolution: 0.2

[pause_resume]

[respond]

[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT