[gcode_macro PRINT_START]
gcode:
    G28
    BED_MESH_CLEAR
    SET_GCODE_OFFSET Z=0
    {% set EXTRUDER_TEMP = params.EXTRUDER|default("170")|int %}
    {% set BED_TEMP = params.BED|int %}
    {% set CHAMBER_TEMP = params.CHAMBER|default("45")|int %}
    status_heating
    M107                          ; Print fan off 
    M141 S{CHAMBER_TEMP}
    _chamber_filter_fan_on
    RESPOND TYPE=command MSG='Heating Bed'
    M140 S{BED_TEMP}              ; Set bed temperature
    Smart_Park 
    M190 S{BED_TEMP}              ; Set and wait for bed temperature
    RESPOND TYPE=command MSG='Cleaning Nozzle'
    CLEAN_NOZZLE
    G28 Z METHOD=CONTACT CALIBRATE=1    ; calibrate z offset and beacon model hot
    Z_TILT_ADJUST  
    RESPOND TYPE=command MSG='Meshing Bed'
    BED_MESH_CALIBRATE PROFILE=adaptive ADAPTIVE=1
    Smart_Park
    RESPOND TYPE=command MSG='Waiting for Extruder Temp'
    M109 S{EXTRUDER_TEMP }        ; Set and wait for extruder temperature  
    RESPOND TYPE=command MSG='Cleaning Nozzle'
    CLEAN_NOZZLE
    SET_GCODE_OFFSET Z=-0.06     ; add a little offset for hotend thermal expansion; needs fine tuning, long meltzones require more
    #SET_GCODE_OFFSET Z_ADJUST={OFFSET}  ; apply optional material squish via slicer
    RESPOND TYPE=command MSG='Line Purge'
    Line_Purge                    ; Purge line macro
    status_printing              ; Set LEDs to printing-mode
    RESPOND TYPE=command MSG='Printing'

[gcode_macro PRINT_END]
gcode:
     G92 E0 ; Reset extruder position
     G1 E-4.0 F3600 ; Retract 4mm of filament at a speed of 3600 mm/min (60 mm/s)    
     G91 ; Use relative positioning
     G0 Z20 F3600 ; Move nozzle up 10mm
     TURN_OFF_HEATERS
     M107                                                          # turn off fan
     G90                                                           # absolute positioning
     G1 X{220} Y{220} F3600                                        # park nozzle
     UPDATE_DELAYED_GCODE ID=_chamber_filter_fan_off DURATION=300  # 5 minute delay

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    TURN_OFF_HEATERS
    CLEAR_PAUSE
    {% if printer.toolhead.homed_axes == "xyz" %}
        G91 ; Relative positioning
        G1 Z5 F3000 ; Move nozzle up
        G90 ; Absolute positioning
        G1 X250 Y307 F3000 ; Park nozzle (adjust to your printer)
    {% endif %}
    BASE_CANCEL_PRINT
    M107                                                     # turn off fan