[probe]
pin: nhk:gpio10
x_offset: 0
y_offset: 0
speed: 5
samples: 2
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.02
samples_tolerance_retries: 3
  
[gcode_macro PROBE_ACCURACY_CHECK]
gcode:
     _CG28
     probe_accuracy samples=100
#Excellent: 0.0005 mm or less
#Good: Up to 0.0008 mm
#Acceptable: Under 0.003 mm
#Higher than acceptable: Above 0.003 mm