[tmc5160 stepper_x]
cs_pin: PE15
spi_bus: spi4
diag0_pin: ^!PG1
interpolate: false
run_current: 0.8
sense_resistor: 0.075
stealthchop_threshold: 0
driver_SGT: 1 # -64 is most sensitive value, 63 is least sensitive
### SET_TMC_FIELD FIELD=SGTHRS STEPPER=stepper_x VALUE=255

[tmc5160 stepper_y]
cs_pin: PE11
spi_bus: spi4
#diag0_pin: ^!PE10
interpolate: false
run_current: 0.8
sense_resistor: 0.075
stealthchop_threshold: 0

[tmc2209 stepper_z]
uart_pin: PD5
#diag_pin: ^!PD6
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

[tmc2209 stepper_z1]
uart_pin: PD0
#diag_pin: ^!PD1
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

[tmc2209 stepper_z2]
uart_pin: PA8
#diag_pin: ^!PA15
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0