#Raspberry Pi 4 Model B Rev 1.5
#PRETTY_NAME="Debian GNU/Linux 12 (bookworm)"
#NAME="Debian GNU/Linux"
#VERSION_ID="12"
#VERSION="12 (bookworm)"
#VERSION_CODENAME=bookworm

#LDO Levithian
#STM32F446 

[mcu]
serial: /dev/ttyAMA0
restart_method: command
#/dev/ttyAMA0
#/dev/serial/by-id/usb-Klipper_stm32h743xx_25002A000351323439333335-if00

[mcu rpi]
serial: /tmp/klipper_host_mcu

[printer]
kinematics: corexy
max_velocity: 300  
max_accel: 4000
max_z_velocity: 15
max_z_accel: 350
square_corner_velocity: 5.0

[include configs/*.cfg]
[include configs/AFC/*.cfg]
[include configs/KAMP/*.cfg]
[include configs/Toolheads/trident_rapido.cfg]

## Client variable macro for your printer.cfg
[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos    : True
variable_custom_park_x     : 60
variable_custom_park_y     : 301
variable_custom_park_dz    : 10.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract           : 2.0   ; the value to retract while PAUSE
variable_cancel_retract    : 2.0   ; the value to retract while CANCEL_PRINT
variable_speed_retract     : 35.0  ; retract speed in mm/s
variable_unretract         : 1.8   ; the value to unretract while RESUME
variable_speed_unretract   : 35.0  ; unretract speed in mm/s
variable_speed_hop         : 15.0  ; z move speed in mm/s
variable_speed_move        : 100.0 ; move speed in mm/s
variable_park_at_cancel    : True ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x  : 60    ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y  : 301    ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_use_fw_retract    : False ; use fw_retraction instead of the manual version [True/False]
variable_idle_timeout      : 14400     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
gcode:

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 58.887
#*# pid_ki = 2.533
#*# pid_kd = 342.279
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.079688, 0.041250, 0.011250
#*# 	0.056875, 0.011563, 0.008438
#*# 	0.057813, -0.000312, -0.025625
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 119.999
#*# max_x = 179.999
#*# min_y = 134.498
#*# max_y = 165.498
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 19.438
#*# pid_ki = 1.424
#*# pid_kd = 66.335
#*#
#*# [input_shaper]
#*# shaper_type_x = 3hump_ei
#*# shaper_freq_x = 101.8
#*# shaper_type_y = mzv
#*# shaper_freq_y = 44.8
#*#
#*# [probe]
#*# z_offset = -0.946
