#Raspberry Pi 4 Model B Rev 1.5
#PRETTY_NAME="Debian GNU/Linux 12 (bookworm)"
#NAME="Debian GNU/Linux"
#VERSION_ID="12"
#VERSION="12 (bookworm)"
#VERSION_CODENAME=bookworm

#LDO Levithian v1.3
#STM32H743

[mcu]
serial: /dev/ttyAMA0
restart_method: command

[mcu rpi]
serial: /tmp/klipper_host_mcu

[mcu NHK]
serial: /dev/serial/by-id/usb-Klipper_rp2040_3033393834053043-if00

restart_method: command

[printer]
kinematics: corexy
max_velocity: 300  
max_accel: 4000
max_z_velocity: 15
max_z_accel: 350
square_corner_velocity: 5.0

[include configs/*.cfg]
[include configs/AFC/*.cfg]
[include configs/KAMP/*.cfg]

[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos    : True  # allows customized toolhead positioning during pause, cancel, or timelapse events
variable_custom_park_x     : 0
variable_custom_park_y     : 0
#variable_custom_park_dz    : 10.0  # custom dz value; the value in mm to lift the nozzle when move to park position
#variable_retract           : 2.0   # the value to retract while PAUSE
#variable_cancel_retract    : 2.0   # the value to retract while CANCEL_PRINT
#variable_speed_retract     : 35.0  # retract speed in mm/s
#variable_unretract         : 1.8   # the value to unretract while RESUME
#variable_speed_unretract   : 35.0  # unretract speed in mm/s
#variable_speed_hop         : 15.0  # z move speed in mm/s
#variable_speed_move        : 100.0 # move speed in mm/s
variable_park_at_cancel    : True # allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x  : 0    # different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y  : 0    # different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
#variable_use_fw_retract    : False # use fw_retraction instead of the manual version [True/False]
#variable_idle_timeout      : 14400     # time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
gcode:

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 58.887
#*# pid_ki = 2.533
#*# pid_kd = 342.279
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.058264, 0.043425, 0.038755, 0.030366
#*# 	  0.054108, 0.039385, 0.029977, 0.019551
#*# 	  0.050173, 0.034809, 0.024717, 0.012233
#*# 	  0.059441, 0.043586, 0.029065, 0.012369
#*# 	  0.070801, 0.052604, 0.031954, 0.019587
#*# x_count = 4
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 31.5382
#*# max_x = 116.538
#*# min_y = 62.9361
#*# max_y = 147.936
#*#
#*# [probe]
#*# z_offset = -0.954
#*#
#*# [beacon model default]
#*# model_coef = 1.6307410466304053,
#*# 	  2.0160592578788634,
#*# 	  0.8732435999427343,
#*# 	  0.4102860514660045,
#*# 	  -0.030713147965296384,
#*# 	  -0.29189466058735786,
#*# 	  0.07657879492346391,
#*# 	  0.3615202285480556,
#*# 	  0.050178539609959424,
#*# 	  -0.09318180911722086
#*# model_domain = 1.865246564970179e-07,1.9289217349682082e-07
#*# model_range = 0.199792,4.999792
#*# model_temp = 40.107619
#*# model_offset = -0.65000
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 18.843
#*# pid_ki = 1.875
#*# pid_kd = 47.343
