#--=================================================================================-
#------- Global ---------------------------------------------------------------------
#--=================================================================================-
[gcode_macro _AFC_GLOBAL_VARS]
description: Global variables used in multiple macros
gcode: # Leave Empty
variable_travel_speed             : 120       # Speed mm/s
variable_z_travel_speed           : 30        # Speed mm/s
variable_accel                    : 2000      # Move accel for all macro moves
variable_verbose                  : 2         # Console Output for macros
                                              #  0 - None
                                              #  1 - Limited
                                              #  2 - All

#--=================================================================================-
#------- Poop ----------------------------------------------------------------------
#--=================================================================================-
[gcode_macro _AFC_POOP_VARS]
description: Poop macro configuration variables
gcode: # Leave empty


variable_purge_loc_xy             : 250, 294    # (x,y) Location of where to purge
variable_purge_spd                : 6.5       # Speed, in mm/s, of the purge.
variable_z_purge_move             : True      # Set to False to not move in Z during poop

# Speed, in mm/s to lift z after the purge is completed. Its a faster lift to keep it from 
# sticking to the toolhead
variable_fast_z                   : 500
variable_z_lift                   : 10       # Z height to raise above the final purge position after the purge is completed as part of the fast z move
                                            # example: If final poop height ends at 20mm this variable will raise Z to 30mm

# If the toolhead returns to initial position after the poop is complete.
variable_restore_position         : False     # True = return to initial position, False = don't return

# The z height of the nozzle at the purge position before purging. This allows any built up
# pressure to escape before the purge.

variable_purge_start              : 0

# Set the part cooling fan speed. Disabling can help prevent the nozzle from cooling down 
# and stimulate flow, Enabling it can prevent blobs from sticking together.
variable_part_cooling_fan         : True      # Run it at full speed
variable_part_cooling_fan_speed   : 1.0       # Speed to run fan when enabled above. 0 - 1.0
variable_purge_cool_time          : 5         # Time to pause after purge to allow fan to cool the poop in seconds

# ==================== PURGE LENGTH TUNING
# Default purge length to fall back on when neither the tool map purge_volumes or 
# parameter PURGE_LENGTH is set.
variable_purge_length             : 80

# The absolute minimum to purge, even if you don't changed tools. This is to prime the 
# nozzle before printing
variable_purge_length_minimum     : 50

# The slicer values often are a bit too wasteful. Tune it here to get optimal values. 0.6
# is a good starting point.
#variable_purge_length_modifier    : 1

# Length of filament to add after the purge volume. Purge volumes don't always take 
# cutters into account and therefor a swap from red to white might be long enough, but 
# from white to red can be far too short. When should you alter this value:
#   INCREASE: When the dark to light swaps are good, but light to dark aren't.
#   DECREASE: When the light to dark swaps are good, but dark to light aren't. Don't 
#     forget to increase the purge_length_modifier
#variable_purge_length_addition    : 0

# Advanced settings for the poop macro
# Max amount of filament to purge for each purge step
#variable_max_iteration_length: 40
# Z amount to raise during a purge step
#variable_iteration_z_raise: 6
# Z amount to raise between each purge step
#variable_iteration_z_change: 0.6
# Max number of steps when forming a poop/blob
#variable_max_iterations_per_blob: 3
# Base Z height
#variable_purge_z: 0

#--=================================================================================-
#------- Kick ----------------------------------------------------------------------
#--=================================================================================-
[gcode_macro _AFC_KICK_VARS]
description: Kick macro configuration variables
gcode: # Leave empty

variable_kick_start_loc           : 257,220,30 # Location to move before kick
variable_kick_z                   : 1         # Height to drop to for kick move
variable_kick_speed               : 150       # Speed of kick movement
variable_kick_accel               : 0         # Accel of kick moves. This will overwrite the global accel for this macro. Set to 0 to use global accel
variable_kick_direction           : "back"    # Direction to make the kick move (left, right, front, back)
variable_kick_move_dist           : 50        # How far to move to kick poop off
variable_z_after_kick             : 10        # Height of z after kick move